.detail {
    background-color: white;
  }
  
  .detail__hlavicka {
    position: relative;
    height: 400px;
  }
  
  .detail__foto {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .detail__titulek {
    position: absolute;
    bottom: -30px;
    left: 30px;
    transform: rotate(-3deg);
  }
  
  .detail__nazev {
    margin: 0;
    font-family: 'Merriweather', serif;
    font-size: 48px;
    line-height: 1;
  }
  
  .detail__nazev span {
    display: inline-block;
    padding: 10px 20px;
    background-color: #b95818;
    color: white;
  }
  
  .detail__latinsky {
    margin: 5px 0 0 0;
    font-family: 'Merriweather', serif;
    font-size: 24px;
    line-height: 1;
  }
  
  .detail__latinsky span {
    display: inline-block;
    padding: 10px 20px;
    background-color: #930438;
    color: white;
  }
  
  .detail__info {
    padding: 50px 30px 30px 30px;
  
  }
  
  .detail__popis {
    font-family: 'Merriweather', serif;
    font-size: 16px;
    line-height: 1.6;
  }
  
  .detail__udaje {
    margin: 30px 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px 30px;
  }
  
  .detail__udaj h3 {
    margin: 0 0 5px 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    color: #999;
  }
  
  .detail__udaj p {
    margin: 5px 0;
  }
  
  .detail__zoo {
    margin: 30px 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
  }